nav{
  background: orange;
  text-align: center;
  position: static;
}
#content{
  /* para que callout tome content-su padre
  como nueo sistema de coordendas-*/
  position: relative;
  padding-right: 250px;
  padding-bottom: 60px;

}
#callout {
  position: absolute;
  left: 80px;
  top: 100px;
  bottom: 100px;
  font-family:sans-serif;
}
footer{
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
}
